:root {
  --bg-color: #171717;
  --text-color: #AAAAB2;
  --accent-color: #EB6454;
  --title-color: #FFFFFA;
  --header-size: 50px;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a, h1, h2       { color: #383A36; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h2              { font-size: 1.2em; }

#header {
    width: 100%;
    height: var(--header-size);
    background: var(--bg-color);
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text-color);
}
.description {
    float: left;
    margin-left: 50px;
}
.description__text {
    float: left;
    vertical-align: middle;
    padding:20px;
}
.description__logo_image {
    float: left;
    width: 40px;
    height: 40px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    float: right;
}
.avatar {
    vertical-align: middle;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: var(--accent-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
#footer {
    width: 100%;
    height: 50px;
    background: var(--bg-color);
    color: var(--text-color);
}
.footer__desc {
    vertical-align: bottom;
    padding-top: 20px;
    font-size: 0.7em;
}
.page {
    margin: 50px auto auto auto;
    width: 60%;
    padding-bottom: 60px;
    color: var(--text-color);
    color: var(--bg-color);
}


.auth {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 100px 35px 35px 35px;
    margin: auto;
    background-color: #25BEE3;
    box-shadow: -2px 0px 10px rgba(50, 50, 50, 1);
    position: absolute;
    z-index: 11;
    width: 615px;
    height: 395px;
}
.auth__section {
    width: 228px;
    display: inline-block;
    vertical-align: middle;
}
.auth__section_logo {
    display: inline-block;
    vertical-align: middle;
}
.auth__social_btn {
    background-color: #fff;
    color: #383A36;
    width: 172px;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    line-height: 30px;
    margin: auto;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all linear 0.15s;
    transition: all 150ms linear 0ms;
}
.auth__social_btn:after {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: -41px;
    content: "";
}
.auth__social_btn:hover {
    cursor: pointer;
    text-decoration: none;
}

.auth__social_btn_vk:hover {
    color: #fff;
    background: #45668e;
}

.auth__social_btn_vk:after {
        background: #45668e url(../images/icons/vk.svg) no-repeat center;
}



.table-editable {
    position: relative;
}

#user_info_layout {
    color:green;
    float: right;
    display: table;
}
#dream_header_layout {
    color: red;
    display: table-cell;
    float: left;
    vertical-align: middle;
    height: 100%;
}

#img-circle {
    border-radius: 50%;
    width:40px;
    height:40px;
}



#dream_table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}
#dream_table, .table_line, .table_row {
    border: 1px solid gray;
    width:100%;
}

#day_table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;

}
.weekend {
    background:var(--accent-color);
}
#body_404 {
    background: black;
}

#h1_404 {
    color: #ccc;
    margin: auto;
    text-align: center;
    font-size: 7em;
    padding-bottom: 1em;
}
#img_404 {
    padding: 0 0em 5em 0em;
}

.week_table {
    display: inline-block;
    border-collapse: collapse;
    width: 100%;

}
.week_num {
    display: inline-block;
    margin: 10px;
    width: 45%;
}
#week_number {
    display: none;
}
.add_link {
    text-decoration: none;
    background: var(--accent-color);
    color: white;
}

input[type="text"] {
    margin: 0px 10px 10px 0px;
    font-family: sans-serif;
    font-size: 16px;
    appearance: none;
    box-shadow: none;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
transition: border 0.3s;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: solid 2px #969696;
}
#slogan_text {
    width: 60%;
    text-align: center;
}