<!doctype html>
<html>
<head>
    <title>DC</title>

</head>
<body>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/chartist.css') }}">
    <link rel="icon" href="../static/images/icons/favicon.png">
    <div class="wrapper">
        <div id="header">
            <div class="description">
                <img class="description__logo_image" src="../static/images/icons/logo.png">
                <div class="description__text">Dream Crusher - The worst teacher you ever had</div>
            </div>
            <div class="dropdown">
                <div class="avatar">
                    # if g.user.is_authenticated
                        #if g.user.avatar_url
                            <img id="img-circle" src="{{g.user.avatar_url}}"/>
                        # endif
                        {{ g.user.nickname }}
                    # endif
                </div>

                <div class="dropdown-content">
                    <a href="{{ url_for('pomodoro.index') }}">Home</a>
                    <a href="{{ url_for('dreams.dreams') }}">Edit dreams</a>
                    <a href="{{ url_for('main.index') }}">Statistics</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                    # if g.user.is_authenticated and g.user.is_admin()
                    <a href="{{ url_for('admin.admin') }}">Admin panel</a>
                    # endif
                </div>
            </div>
        </div>
        <div class=page>
              # block body
              # endblock
        </div>

    </div>
    <div id="footer">
        <div class="footer__desc">
            ed9m, 2016
        </div>
    </div>
    <script  type="text/javascript" src="../static/js/jquery-2.2.4.min.js"> </script>
    <script  type="text/javascript" src="../static/js/chartist.min.js"> </script>
    <script  type="text/javascript" src="../static/js/dreams_scripts.js"> </script>
    <script  type="text/javascript" src="../static/js/pomodoro.js"> </script>
</body>
</html>